.lyric__title {
  font-size: 1.9rem;
  font-weight: 700;
}


.lyric-pali__text {
  font-size: 1.8rem;
  margin: 0;
}

.lyric-translation__text {
  color:#7F7F7F;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}