.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.Modal {
  background:  lighten(#222, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $l-size $l-size $s-size $l-size;
  text-align: center;
  word-break: break-all;
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal-confirm__title {
  margin: 0 0 $m-size 0;
  font-size: 1.8rem;
}

.confirm-modal-content {
  padding-bottom: $m-size;
  text-align: center;
}

.confirm-modal-group-button {
  margin-top: $l-size;
  padding-left: $s-size;
}