.form {
  display: flex;
  flex-direction: column;
}

input[type=text] {
  margin-bottom: $xs-size;
  font-size: 1.8rem;
  line-height: $l-size;
  padding-left: .4rem;
}

.form .page-header__summary {
  margin-bottom: $m-size;
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  color: $red;
}

.checkbox input{
  display: none;
}

.checkbox span {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: $s-size;
  background: url('/images/unchecked.png');
  margin-bottom: 0;
}

.checkbox input:checked + div span {
  background: url('/images/checked.png');
}

.checkbox-content {
  display: flex;
}

.checkbox-content__title {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 0;
}

.checkbox-content__number {
  font-size: 1.7rem;
  font-weight: 700;
  color: $blue;
  margin-left: auto;
  margin-bottom: 0;
}

.form-button {
  margin: $m-size 0;
}   