.lyric__title {
  font-size: 1.8rem;
  font-weight: 700;
}
.lyric__text {
  font-size: $m-size;
}

.lyric-pali__text {
  margin: 0;
}

.lyric-translation__text {
  font-style: italic;
  font-weight: 200;
  color: $grey;
  margin-bottom: 1rem;
}