// Colors
$off-white: #F7F7F7;
$off-grey: #C7C7C7;
$dark-grey: #333333;
$grey: #666;
$off-gold: #f6ffdd;
$green: #5cb85c;
$blue: #1c88bf;
$red: #d9534f; 

// m-size
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$m-l-size: 2.7rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;